.header{
    width: 1440px;
    background: #2A9D8F;
    margin: 0 auto;
}
.header_section{
    padding: 38px 130px;
}
.logo{
    vertical-align: middle;
}
.logo:hover{
    scale: 1.1;
    cursor: pointer;
}
.header_div{
    margin-left: 357px;
    vertical-align: middle;
    display: inline-block;
}
.list:hover{
    scale: 1.1;
}
.list{
    font-family: 'Nerko One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
   display: inline-block;
   margin-left: 51px;
}
.header_button:hover{
    scale: 1.1;
    cursor: pointer;
}
.header_button{
    border: none;
    margin-left: 250px;
}
.button_text{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #2A9D8F;
    padding: 8px 16px;
}
.section1{
    margin: 200px;
}
.section1_subtitle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    text-align: center;
    color: #4D4D4D;
}
.section1_div1{
    margin-top: 60px;
    text-align: center;
}
.section1_div2{
    margin-top: 52px;
    text-align: center;
}
.section1_text{
    width: 780px;
    font-family: 'Nerko One';
        font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    color: #656565;
    display: inline-block;
}
.article1{
    margin: 0 auto;
    width: 1440px;
    background: #C2F3EE;
}
.article1_img{
    padding: 80px 130px;
    vertical-align: middle;
    display: inline-block;
}
.article1_div{
    vertical-align: middle;
    display: inline-block;
}
.article1_div_subtitle{
    width: 483px;
height: 96px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 32px;
color: #272727;
}
.article1_div_text{
    vertical-align: middle;
    width: 483px;
    height: 324px; 
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* or 150% */
    
    letter-spacing: 0.005em;
    
    color: #515151;  
}
.article1_button:hover{
    scale: 1.1;
    cursor: pointer;
}
.article1_button{
    border: none;
background: #2A9D8F;
display: inline-block;
}
.article1_button_text{
    padding: 11px 16px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #FFFFFF;
}

.section2_subtitle{
    margin: 200px auto 54px;
    width: 515px;
height: 62px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 130%;
letter-spacing: 0.005em;
color: #4D4D4D;
}
.section2_div1{
    padding-left: 180px;
    display: inline-block;
}
.section2_div2{
    margin-left: 20px;
    display: inline-block;
}
.section2_div1_text{
    margin-top: 32px;
    width: 580px;
height: 36px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
letter-spacing: 0.005em;
color: #535353;
}
